black
flake8
ipython
isort
jupyterlab
loguru
matplotlib
mkdocs
notebook
numpy
pandas
pip
python-dotenv
scikit-learn
tqdm
typer
git+https://github.com/argoverse/av2-api#egg=av2
-e .
h5py
transforms3d
torchvision
transformers
lightning
omegaconf
einops
hydra-core
torch
tensordict
torch-kmeans